name: Scheduled Health Check

on:
  schedule:
    - cron: "0 0/12 * * *"

jobs:
  health_check_job:
    runs-on: self-hosted
    name: Check all sites
    steps:
      - uses: actions/checkout@v4
      - name: Run Shell Script
        id: shell_script_run
        run: bash ./scripts/health-check.sh